.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

Card.Text {
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.button {
  margin-top: 30px;
}

body {
  background: rgb(245, 4, 4);
  background: radial-gradient(
    circle,
    rgba(245, 4, 4, 1) 5%,
    rgba(255, 156, 0, 1) 99%
  );
}

h1,
p {
  color: white;
}

.button {
  width: 20vw;
}

.guess-bar {
  width: 20vw;
  height: 3vh;
  font-size: 14pt;
}
